@charset 'utf-8';

/*program*/
/*program_1*/
.location {margin-top: 15px; position: relative}
.location::after {content: ""; display: block; background-image: url(../img/icon_header.png); background-position: 0 -100px; background-repeat: no-repeat; width: 24.5px; height: 19.5px; position: absolute; background-size: 150px 150px; left: 15px; top: -3px; cursor: pointer} 
.a-infor1 {margin-bottom: 25px}
.a-infor2 {margin-bottom: 30px}
.a-infor2 >ul > li::before {content: ""; display: inline-block;
background-image: url(../img/aside.come.png); background-position: center center; background-repeat: no-repeat; width: 3px; height: 3px; vertical-align: middle; transform: translateY(-2px); margin-right: 5px
}
.a-img {}
.a-img > img {width: 100%; height: auto}
/*program_3*/
.program3 {margin-bottom: 50px}
 /*program*/

/*schedule*/
.schedule-wrap1 {margin-top: 10px}
.schedule-wrap2 {margin-top: 50px}
.schedule-wrap3 {margin-top: 50px}
.schedule-img {margin-bottom: 20px}
.schedule-img > img {width: 100%; height: auto}
.schedule table {width: 100%; border-collapse: collapse}
.schedule table .thead {border-top: 4px solid #b0b0b0;}
.schedule caption {position: relative; margin-bottom: 20px}
.schedule caption > ul {position: absolute; right: 0; top: -5px}
.schedule caption > ul > li {float: left; padding: 5px }
.schedule caption > ul > li::before {content: ""; display: inline-block; background-image: url(../img/schedule-icon1.png); background-repeat: no-repeat; background-position: center center; width: 18px; height: 18px; vertical-align: middle; transform: translateY(-1px); margin-right: 5px }
.schedule caption > ul > li:nth-child(2)::before {background-image: url(../img/schedule-icon2.png); width: 26px; height: 24px; vertical-align: top;transform: translateY(-1px); margin-right: 2px} 

.schedule table tr{border: 1px solid #f0f0f0}
.schedule table th {border: 1px solid #f0f0f0; padding: 20px 5px; vertical-align: middle}
.check2 {margin-top: 50px}
.check2 > img {width: 100%; height: auto}

/*center*/
.center1 {margin-bottom: 80px; margin-top: 30px; font-size: 14px; font-weight: bold; word-break: break-all; line-height: 18px}
.center1 > em {display: block;color: #0770bb; font-size: 18px; margin-bottom: 30px}
.center-img > img {width: 100%; height: auto}
/*check*/
.check-wrap {margin-top: 30px}
.check-wrap > .check-list {margin-top: 40px; }
.check-wrap > .check-list >caption {margin-bottom: 5px}
.check-wrap > .check-list {width: 100%; border-collapse: collapse}

.check-wrap > .check-list .check-tr {border: 0; border-top: 1px solid #e3e3e3 }
.check-wrap > .check-list .check-tr .ch {vertical-align: middle}
.check-wrap > .check-list .check-th {border: 0; text-align: left; font-weight: normal; color: #000; line-height: 18px; font-size: 13px;}
.check-wrap > .check-list .check-th.th {font-size: 14px; font-weight: bold; color: #000; line-height: 20px; vertical-align: middle; text-align: center}
.check-wrap > .check-list .check-tr:first-child {border-top: 3px solid #b0b0b0;} 
.check-wrap > .check-list .check-tr:last-child {border-bottom: 1px solid #e3e3e3}


/*center3*/
.center3 > img {width: 100%; height: auto}
.center3:nth-child(2) {margin-top: 15px} 
.center3:nth-child(3) {margin-top: 15px} 

/*center4*/
.center4 > img {width: 100%; height: auto}


/*map*/
.map_wrap {position:relative;overflow:hidden;width:100%;height:350px;}
.radius_border{border:1px solid #919191;border-radius:5px;}     
.custom_typecontrol {position:absolute;top:10px;right:10px;overflow:hidden;width:130px;height:30px;margin:0;padding:0;z-index:1;font-size:12px;font-family:'Malgun Gothic', '맑은 고딕', sans-serif;}
.custom_typecontrol span {display:block;width:65px;height:30px;float:left;text-align:center;line-height:30px;cursor:pointer;}
.custom_typecontrol .btn {background:#fff;background:linear-gradient(#fff,  #e6e6e6);}       
.custom_typecontrol .btn:hover {background:#f5f5f5;background:linear-gradient(#f5f5f5,#e3e3e3);}
.custom_typecontrol .btn:active {background:#e6e6e6;background:linear-gradient(#e6e6e6, #fff);}    
.custom_typecontrol .selected_btn {color:#fff;background:#425470;background:linear-gradient(#425470, #5b6d8a);}
.custom_typecontrol .selected_btn:hover {color:#fff;}   
.custom_zoomcontrol {position:absolute;top:50px;right:10px;width:36px;height:80px;overflow:hidden;z-index:1;background-color:#f5f5f5;} 
.custom_zoomcontrol span {display:block;height:40px;text-align:center;cursor:pointer;}     
.custom_zoomcontrol span img {width:15px;padding:12px 0;border:none;}             
.custom_zoomcontrol span:first-child{border-bottom:1px solid #bfbfbf;}            

.map-btn {box-sizing: border-box}
.btn1 {float: left;font-size: 12px; width: 50%; height: 32px; line-height: 32px; text-align: center; background-color: #757a85; color: #fff; font-weight: bold; cursor: pointer}
.btn2 {float: left; width: 50%; height: 32px; font-size: 12px;  line-height: 32px; text-align: center; background-color: #0770bb;color: #fff;font-weight: bold; cursor: pointer}


.acc-location {display: none}
.acc-location.on {display: block}
/*.acc-tit.on {background-color: #f8f8f8 }*/

.accordion {margin-top: 20px}

.acc-wrap > li {position: relative;}
.acc-wrap .acc-tit {text-align: left;font-size: 14px; color: #000; font-weight: bold; height: 40px; line-height: 40px}

.acc-wrap > li:nth-child(1) .acc-tit {border-bottom: 1px solid #eee; border-top: 2px solid #eee} 
.acc-wrap > li + li .acc-tit {border-bottom: 1px solid #eee}
.acc-wrap > li:last-child .acc-tit{border-bottom: 2px solid #eee}


.acc-wrap > li::after {content: ""; display: block; background-image: url(../img/accordion_icon.png); background-repeat: no-repeat; background-size: 50px 100px; width: 16px; height: 16px; position: absolute; right: 5px; top: 12px;cursor: pointer}

.acc-wrap > li.on::after {content: ""; display: block; background-image: url(../img/accordion_icon.png); background-repeat: no-repeat; background-position: 0 -50px; width: 16px; height: 16px; position: absolute; right: 5px; top: 20px;cursor: pointer}

.acc-wrap > li .acc-tit > a {width: 100%;  display: block}
.acc-wrap > li > .acc-tit:hover {background-color: #f8f8f8 }

.acc-wrap .acc-location {background-color: #f8f8f8} 
.acc-wrap .acc-location > li {position: relative; padding: 33px 10px 5px; line-height: 18px;  font-size: 12px; letter-spacing: 0.1px;} 
.acc-wrap .acc-location > li .number {display: inline-block; min-width: 46px; height: 20px; line-height: 19px; color: #fff; font-size: 14px; border-radius: 10px; padding: 0 6px; width: auto; background-color: #0770bb;
    text-align: center; position: absolute; left: 10px; top: 8px
} 
.acc-wrap .acc-location > li em {font-weight: bold; color: #0770bb; font-style: normal }
.acc-wrap .acc-location > li .number2 {background-color: #199da3}
.acc-wrap .acc-location > li em.color {color: #199da3; font-weight: bold} 

.acc-wrap .acc-location > li .number3 {background-color: #cd0e0e}
.acc-wrap .acc-location > li em.color1 {color: #cd0e0e; font-weight: bold} 
.acc-wrap .subway {position: absolute; left: 60px; top: 7px; font-size: 14px; color: #333}
.acc-wrap .subway-txt {color: #777; font-size: 10px}

.acc-wrap .acc-location > li .number4 {background-color: #263c96;} 
.acc-wrap .acc-location > li .number5 {background-color: #ffce33;}
.acc-wrap .acc-location > li .number6 {background-color: #6f99d0;}
.acc-wrap .acc-location > li .car {font-size: 14px; color: #333; background-color: transparent;left: 5px}  
.acc-wrap .acc-location > .car-txt {color: #777; font-size: 12px; } 

/*notice*/
.search-wrap {margin-bottom: 15px}
.search-box {background-color: #f4f5f9; border-radius: 10px; position: relative; width: 100%}
.search-box .keyword {border: none; display: block;  background-color: transparent; color: #666; font-size: 14px; line-height: 30px; 
    padding: 0 10px; text-align: left; width: 300px; height: 35px; font-size: 12px;
}

.btn-search {width: 40px; height: 40px; position: absolute; right: 0; top: 0; }

.btn-search::after {content: ""; display: inline-block; background-image: url(../img/search.png); background-repeat: no-repeat; width: 21px; height: 20px; background-size: 150px 150px; z-index: 99; cursor: pointer}

.search-result {}
.list-result {font-size: 11px; font-weight: bold; color: #000; height: 28px; line-height: 28px; border-bottom: 2px solid #bfbfbf  }
.list-result > em {color: #0770bb; font-weight: bold; margin: 0 1px}


.board-list .list-row {}
.board-list .list-row .board-title {overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 18px; font-size: 14px; color: #000; letter-spacing: -0.05em; font-weight: bold}

.board-list .list-row > a {display: block; width: 100%; padding: 15px 0 0;border-bottom: 1px solid #eee}
.board-data {font-size: 11px; color: #666}
.board-elmt {display: inline-block;}
.board-elmt2 {padding: 10px 0;display: inline-block; }
.board-elmt2::before {
    content: ""; display: inline-block; width: 1px; height: 9px; background-color: #aaaaaa; margin: 0 6px 0 3px;
    vertical-align: bottom;}   
.paging {margin-top: 20px}  
.paging > ul {width: 175px; margin: 0 auto} 
.paging .order {float: left; border: }
.paging .order + .order {margin-left: 5px}
.paging .order.on {background-color: #199da3; border-radius: 50%; }
.paging .order.on > a {border-color: transparent}
.paging .order > a {display: block; width: 25px; height: 25px; text-align: center; line-height: 22px; ; border-radius: 50%; color: #a2a2a2; font-size: 12px; border: 1px solid #eee; position: relative}
.paging .order > a > img {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%)}
.paging .order.on > a {color: #fff}

/*notice-register*/

.re-wrap {padding: 20px 0; border-top: 2px solid #bbb; border-bottom: 1px solid #bbb}
.re-title {    width: 300px; color: #222; font-size: 14px; overflow : hidden;
display : -webkit-box;
-webkit-line-clamp : 2;
-webkit-box-orient : vertical;
text-overflow: ellipsis;
    word-wrap: break-word;
    line-height: 18px; 
    font-weight: bold

}
.notice-editor {margin: 15px 0; word-break: break-all; word-spacing: 0.2px; font-size: 14px; color: #777; line-height: 20px}

.re-elmt {padding: 5px 0 0}
.attach {margin-top: 30px;margin-bottom: 20px; border-top: 1px solid #eee; border-bottom: 1px solid #eee; padding: 20px 0; color: #8d8d8d; font-size: 14px; font-weight: bold}
.attach-icon {font-size: 13px; color: #777; font-weight: lighter}
.attach-icon::before {content: ""; display: inline-block; background-image: url(../img/attach.png); background-repeat: no-repeat; background-position: center center; width: 15px; height: 12px; margin-right: 2px; background-size: 100%}
.attach > a > p { padding: 10px 0 0 15px; position: relative; font-size: 12px; font-weight: lighter; }
.attach > a > p::before {content: ""; display: inline-block;
    background-image: url(../img/attach-coma.png); background-repeat: no-repeat; background-position: center center; width: 3px; height: 3px; vertical-align: middle; margin-right: 7px; 
    transform: translateY(-2px)
} 
.attach > a > p::after {content: ""; display: inline-block; width: 87px; height: 1px; background-color: #aaaaaa; position: absolute; left: 13px; bottom: -3px}

.list {width: 100%; height: 40px; line-height: 40px; color: #fff; text-align: center; font-weight: bold; background-color: #199da3 }
.list > a {display: block; width: 100%; height: 40px;}  


.introduce {}
.introduce .intro1 > img {width: 100%; height: auto;}
.introduce .intro2 > img {width: 100%; height: auto;}
.introduce .intro3 > img {width: 100%; height: auto}
.table-bg {background-color: #f6f6f6}

.introduce > div > a {display: block; width: 100%; height: 50px; text-align: center; line-height: 50px; background-color: #189ba4; color: #fff; font-weight: bold; margin-bottom: 15px; 
    background: linear-gradient(to top right, #199da3 , #0a78b7)
}



